* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.WelcomeDivision {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  background-color: blueviolet;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin: 5px;
  margin-bottom: 8px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.defaultButton {
  background-color: rgb(0, 123, 255);
}

.defaultButton:hover {
  background-color: rgb(0, 92, 191);
}

.deleteButton {
  background-color: rgb(160, 7, 7);
}

.deleteButton:hover {
  background-color: rgb(116, 21, 21);
}

.submitButton {
  background-color: rgb(48, 175, 23)
}

.submitButton:hover {
  background-color: rgb(32, 116, 16)
}